.u-section-1 .u-sheet-1 {
  min-height: 617px;
}

.u-section-1 .u-blog-1 {
  margin: 50px auto 50px 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px);
  grid-gap: 40px 40px;
  min-height: 417px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/default-image.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 220px;
}

.u-section-1 .u-metadata-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-btn-1 {
  margin-left: 0;
  margin-right: 0;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-image-2 {
  background-image: url("images/happyGe.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin-bottom: 0;
  margin-top: 220px;
}

.u-section-1 .u-metadata-2 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-btn-2 {
  margin-left: 0;
  margin-right: 0;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 297px;
  }

  .u-section-1 .u-blog-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 344px;
  }

  .u-section-1 .u-metadata-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-metadata-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 395px;
  }
}